<%- layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/table.css" />

<div class="page-container divflex">
  <div class="page-container divflex w100">
    <div class="table-wrapper">
      <div class="divflex aic jcsb">
        <h1>All Offices</h1>
      </div>

      <table class="fl-table">
        <thead>
          <tr>
            <th>Code</th>
            <th>Office</th>
            <th>Head</th>
            <th></th>
            <th>Can handle request</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for( let office of offices) {%>
          <tr>
            <td><%= office.code %></td>
            <td><%= office.name %></td>
            <td><%= office.head %></td>

            <td>
              <a class="btn" href="/offices/home">View</a>
            </td>
            <td>
              <form
                action="/offices/<%= office._id %>?_method=PATCH"
                method="POST"
              >
                <button class="btn" value="1" name="can_accept_request">
                  Yes
                </button>
                <button class="btn" value="0" name="can_accept_request">
                  No
                </button>
              </form>
            </td>
            <td>
              <form
                action="/offices/<%= office._id %>?_method=DELETE"
                method="POST"
              >
                <button class="btn">Delete</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="/js/form.js"></script>
