<%- layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/table.css" />

<div class="table-wrapper">
  <h1>All requests</h1>

  <table class="fl-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Office</th>
        <th>Requester</th>
        <th>Category</th>
        <th>Nature of Request</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for( let r of requests ) { %>

      <tr>
        <td><%= r.createdAt.toISOString().split('T')[0] %></td>
        <td><%= r.createdAt.toLocaleTimeString()%></td>

        <td><%= r.office %></td>
        <td><%= r.requester.first %> <%= r.requester.last %></td>
        <td><%= r.category %></td>
        <td><%= r.nature %></td>
        <td><%= r.status %></td>

        <td>
          <div>
            <button class="btn">details</button>
          </div>
        </td>
      </tr>

      <% } %>
    </tbody>
  </table>
</div>
