<%- layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/request_today.css" />
<div class="whole">
  <h1>TODAY</h1>
  <div class="whole-section" id="inprogress">
    <h2>Currently working</h2>
    <div class="job">
      <div class="gif"><img src="/img/working.gif" alt="" /></div>
    </div>

    <% for( let r of requests) { %>
    <div class="job">
      <div class="personnel">
        <div class="requester_category"><%= r.category%></div>
        <% if (r.personnel.length) {%> <% for ( let p of r.personnel) {%>
        <div class="staff"><%= p.fullname %></div>
        <% } %> <% } %>
      </div>

      <div class="requester_picture">
        <img src="<%= r.requester.picture.thumbnail %>" alt="" />
      </div>

      <div class="requester">
        <div class="requester_name"><%= r.requester.fullname %></div>
        <div class="requester_office"><%= r.office_code %></div>

        <div class="requester_request"><%= r.nature %></div>
      </div>
    </div>

    <% } %>
  </div>
  <div class="whole-section" id="pending">
    <h2>Pending</h2>
    <div class="job">
      <div class="gif"><img src="/img/waiting.gif" alt="" /></div>
    </div>
  </div>
  <div class="whole-section" id="completed">
    <h2>Completed Today</h2>
    <div class="job">
      <div class="gif"><img src="/img/success.gif" alt="" /></div>
    </div>
  </div>
</div>
