<% layout('layouts/boilerplate') %>

<div class="alert">
  <h3 class="red">Error: <%= err.status %> <%= err.message %></h3>
  <p class="text"><%= err.status %> <%= err.message %></p>
  <br />
  <hr />
  <br />
  <% if (process.env.NODE_ENV !== "production") { %>
  <p class="text"><%= err.stack %></p>
  <% } %>
</div>
