<%- layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/table.css" />

<div class="table-wrapper">
  <div class="divflex aic jcsb">
    <h1>All Users</h1>
    <a href="/register" class="btn">New User</a>
  </div>
  <table class="fl-table">
    <thead>
      <tr>
        <th>Office</th>
        <th>Name</th>

        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% for( let user of users) {%>
      <tr>
        <% if(user.office) {%>
        <td><%= user.office.name %></td>
        <td><%= user.fullname %></td>

        <% } else {%>
        <td>---</td>
        <% } %>
        <td>
          <% if (user.is_member===true) { %> Already approved <% }else{ %> <% if
          (user.office && user) { %>

          <form
            action="/admin/<%= user.office._id %>/<%= user._id %>"
            method="POST"
          >
            <button class="btn">Approve</button>
          </form>

          <% } %> <% } %>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
