<%- layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/table.css" />

<div class="table-wrapper">
  <div class="divflex aic jcsb">
    <h1>All Users</h1>
    <a href="/users/new" class="btn">New User</a>
  </div>
  <table class="fl-table">
    <thead>
      <tr>
        <th>Last name</th>
        <th>First name</th>
        <th>Username</th>
        <th>Office</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% for( let user of users) {%>
      <tr>
        <td><%= user.last %></td>
        <td><%= user.first %></td>
        <td><%= user.username %></td>
        <% if(user.office) {%>
        <td><%= user.office.name %></td>
        <% } else {%>
        <td>---</td>
        <% } %>
        <td>
          <button class="btn">Approve</button> <button class="btn">Deny</button>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
