<%- layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/modal.css" />
<link rel="stylesheet" type="text/css" href="/css/starability.css" />

<div class="modal" id="modal">
  <div class="modal-container">
    <!-- <%- include('../partials/rating') %> -->

    <div class="close" id="modal_close"><i class="fa-solid fa-xmark"></i></div>
    <div class="text">Are you sure?</div>
    <div class="buttons">
      <button class="btn">Yes</button>
      <button class="btn">No</button>
    </div>
  </div>
</div>

<div class="profile-container">
  <div class="side-card">
    <div class="card profile-details">
      <div class="profile-img">
        <% if (user.picture.thumbnail) { %>
        <img src="<%= user.picture.thumbnail %>" alt="" />
        <% } %>

        <form
          id="foto"
          action="/profile/photo/<%= currentUser._id %>"
          method="POST"
          enctype="multipart/form-data"
        >
          <div style="height: 0px; overflow: hidden">
            <input
              type="file"
              id="fileInput"
              name="uploaded_file"
              onchange="this.form.submit()"
            />
          </div>

          <i class="fa fa-camera" onclick="fileInput.click();"></i>
        </form>
      </div>
    </div>

    <div class="card profile-details">
      <p><%= user.first %> <%= user.last %></p>
    </div>

    <div class="card profile-details">
      <p>
        <a class="alink" href="/offices/home"
          ><i class="fa-solid fa-link"></i> <%= user.office.name %></a
        >
      </p>
    </div>

    <div class="card profile-details">
      <a class="alight" href="/requests/new"
        ><i class="fa-solid fa-pen-to-square"></i> Create a new request</a
      >
    </div>
    <div class="card profile-details">
      <a class="alight" href="/admin">
        <i class="fa-solid fa-gear"></i> Admin Dashboard</a
      >
    </div>
  </div>

  <div class="content-card">
    <div class="content-header" id="content-header">
      <a class="atoggle" id="pending">Available</a>
      <a class="atoggle" id="approved">Accepted</a>
      <a class="atoggle" id="accepted">Completed</a>
      <a class="atoggle" id="denied">Denied</a>
      <a class="atoggle" id="cancelled">Cancelled</a>
    </div>

    <div class="content-main" id="table"></div>
  </div>
</div>

<script>
  const requestData = <%- JSON.stringify(requests) %>;
</script>

<script src="/js/profile.js"></script>

<script src="/js/request_profile.js"></script>
