<%- layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/table.css" />

<div class="profile-container">
  <div class="side-card">
    <div class="card profile">
      <div class="profile-img">

        <% if (user.picture.url) { %>
          <img src="<%= user.picture.url %>" alt="" /> 
        <% } %>
      
      </div>
      <form id='foto' action='/profile/photo/<%= currentUser._id %>' method="POST"  enctype="multipart/form-data" >
        <div style="height:0px;overflow:hidden"> 
        <input type="file" id="fileInput" name="uploaded_file" onchange="this.form.submit()"/> 
        </div>
      
        <i class='fa fa-camera' onclick="fileInput.click();"></i>
      </form> 
    </div>

    <div class="card profile-details">
      <div class="profile-name">
        <p><%= user.first %> <%= user.last %></p>
      </div>

    
    </div>  

    <div class="card profile-details">
      <p>
  <a href="/offices/home" class="btn"><%= user.office.name %> </a>
</p>
    </div>


    <div class="card profile-details">
  <span>TY COINSS</span>
      <span>192</span>
    </div>

    <div class="card profile-details">
      <%= user.picture.filename %>
    <a class="btn "href="">Add Position</a>
    </div>
    <div class="card profile-details">
      <%= user.picture.url %>
      <span>total</span>
    </div>
    <div class="card profile-details">
      <%= user.picture.url %>
      <span>total</span>
    </div>
    <div class="card profile-details">
     Denied
      <span>total</span>
    </div>
  </div>

  <div class="content-card">
    <div class="content-header" id="content-header">
      <a
        class="atoggle <%= (status && status === 'all') ? 'active' : ''%>"
        id="all"
        href="/profile/requests/all"
        >My requests</a
      >
      <a
        class="atoggle <%= (status && status === 'pending') ? 'active' : ''%>"
        id="pending"
        href="/profile/requests/pending"
        >Pending</a
      >
      <a
        class="atoggle <%= (status && status === 'posted') ? 'active' : ''%>"
        id="posted"
        href="/profile/requests/posted"
        >Posted</a
      >
      <a
        class="atoggle <%= (status && status === 'accepted') ? 'active' : ''%>"
        id="accepted"
        href="/profile/requests/accepted"
        >Accepted</a
      >
      <a
        class="atoggle <%= (status && status === 'completed') ? 'active' : ''%>"
        id="completed"
        href="/profile/requests/completed"
        >Completed</a
      >
      <a
        class="atoggle <%= (status && status === 'to-rate') ? 'active' : ''%>"
        id="to-rate"
        href="/profile/requests/to-rate"
        >To Rate</a
      >
      <a
        class="atoggle <%= (status && status === 'cancelled') ? 'active' : ''%>"
        id="cancelled"
        href="/profile/requests/cancelled"
        >Cancelled</a
      >
    </div>

    <div class="content-main" id="content_main">
      <table class="fl-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Office</th>
            <th>Category</th>
            <th>Nature of Request</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for( let r of requests ) { %>

          <tr>
            <td><%= r.createdAt.toISOString().split('T')[0] %></td>
            <td><%= r.createdAt.toLocaleTimeString()%></td>
            <td><%= r.office %></td>
            <td><%= r.category %></td>
            <td><%= r.nature %></td>
            <td><%= r.status %></td>

            <td>
              <div>
                <button class="btn">details</button>
              </div>
            </td>
          </tr>

          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="/js/profile.js"></script>
