<%- layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/modal.css" />
<link rel="stylesheet" type="text/css" href="/css/starability.css" />

<!-- <div class="modal">
  <div class="modal-container">
    <%- include('../partials/rating') %>

    <div class="close"><i class="fa-solid fa-xmark"></i></div>
    <div class="text">Are you sure?</div>
    <div class="buttons">
      <button class="btn">Yes</button>
      <button class="btn">No</button>
    </div>
  </div>
</div> -->

<div class="profile-container">
  <div class="side-card">
    <div class="card profile-details">
      <div class="profile-img">
        <% if (user.picture.thumbnail) { %>
        <img src="<%= user.picture.thumbnail %>" alt="" />
        <% } %>
        <form
          id="foto"
          action="/profile/photo/<%= currentUser._id %>"
          method="POST"
          enctype="multipart/form-data"
        >
          <div style="height: 0px; overflow: hidden">
            <input
              type="file"
              id="fileInput"
              name="uploaded_file"
              onchange="this.form.submit()"
            />
          </div>

          <i class="fa fa-camera" onclick="fileInput.click();"></i>
        </form>
      </div>
    </div>

    <div class="card profile-details">
      <p><%= user.first %> <%= user.last %></p>
    </div>

    <div class="card profile-details">
      <p>
        <a class="alink" href="/offices/home"
          ><i class="fa-solid fa-link"></i> <%= user.office.name %></a
        >
      </p>
    </div>

    <div class="card profile-details">
      <a class="alight" href="/requests/new"
        ><i class="fa-solid fa-pen-to-square"></i> Create a new request</a
      >
    </div>
    <div class="card profile-details">
      <span>total</span>
    </div>
    <div class="card profile-details">
      <span>total</span>
    </div>
    <div class="card profile-details">
      Denied
      <span>total</span>
    </div>
  </div>

  <div class="content-card">
    <div class="content-header" id="content-header">
      <a
        class="atoggle <%= (status && status === 'all') ? 'active' : ''%>"
        id="all"
        href="/profile/requests/all"
        >My requests ( <%= requests.length %> )
      </a>
      <a
        class="atoggle <%= (status && status === 'pending') ? 'active' : ''%>"
        id="pending"
        href="/profile/requests/pending"
        >Pending</a
      >
      <a
        class="atoggle <%= (status && status === 'awaiting-approval') ? 'active' : ''%>"
        id="awaiting-approval"
        href="/profile/requests/awaiting-approval"
        >Awaiting Approval</a
      >

      <a
        class="atoggle <%= (status && status === 'posted') ? 'active' : ''%>"
        id="posted"
        href="/profile/requests/posted"
        >Approved</a
      >
      <a
        class="atoggle <%= (status && status === 'accepted') ? 'active' : ''%>"
        id="accepted"
        href="/profile/requests/accepted"
        >Accepted</a
      >
      <a
        class="atoggle <%= (status && status === 'completed') ? 'active' : ''%>"
        id="completed"
        href="/profile/requests/completed"
        >To Rate7</a
      >

      <a
        class="atoggle <%= (status && status === 'cancelled') ? 'active' : ''%>"
        id="cancelled"
        href="/profile/requests/cancelled"
        >Cancelled by requester</a
      >
      <a
        class="atoggle <%= (status && status === 'cancelled') ? 'active' : ''%>"
        id="cancelled"
        href="/profile/requests/cancelled"
        >Denied by admin</a
      >
      <a
        class="atoggle <%= (status && status === 'finished') ? 'active' : ''%>"
        id="finshed"
        href="/profile/requests/cancelled"
        >Finished</a
      >
    </div>

    <div class="content-main" id="content_main">
      <table class="fl-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Office</th>
            <th>Category</th>
            <th>Nature of Request</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for( let r of requests ) { %>

          <tr>
            <td><%= r.createdAt.toISOString().split('T')[0] %></td>
            <td><%= r.createdAt.toLocaleTimeString()%></td>
            <td><%= r.office_code %></td>
            <td><%= r.category %></td>
            <td>
              <%= (r.nature.length >100) ? r.nature.substring(0,100) + "..." :
              r.nature%>
            </td>
            <td><%= r.status %></td>

            <td>
              <div>
                <% if (status=="accepted") { %>
                <button class="btn">Mark as Done</button>
                <% } else if (status==="awaiting-approval") {%>
                <button class="btn">Cancel</button>

                <% } else if (status==="completed") {%>
                <form action="">
                  <fieldset class="starability-basic">
                    <input
                      type="radio"
                      id="<%= r._id %>-0"
                      class="input-no-rate"
                      name="rating"
                      value="0"
                      checked
                      aria-label="No rating."
                    />
                    <input
                      type="radio"
                      id="<%= r._id %>-1"
                      name="rating"
                      value="1"
                    />
                    <label for="<%= r._id %>-1" title="Terrible">1 star</label>
                    <input
                      type="radio"
                      id="<%= r._id %>-2"
                      name="rating"
                      value="2"
                    />
                    <label for="<%= r._id %>-2" title="Not good">2 stars</label>
                    <input
                      type="radio"
                      id="<%= r._id %>-3"
                      name="rating"
                      value="3"
                    />
                    <label for="<%= r._id %>-3" title="Average">3 stars</label>
                    <input
                      type="radio"
                      id="<%= r._id %>-4"
                      name="rating"
                      value="4"
                    />
                    <label for="<%= r._id %>-4" title="Very good"
                      >4 stars</label
                    >
                    <input
                      type="radio"
                      id="<%= r._id %>-5"
                      name="rating"
                      value="5"
                    />
                    <label for="<%= r._id %>-5" title="Amazing">5 stars</label>
                  </fieldset>
                  <button class="btn">Save</button>
                </form>
                <% } %>
              </div>
            </td>
          </tr>

          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="/js/profile.js"></script>
<script src="/js/request_status.js"></script>
