<%- layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/table.css" />

<div class="profile-container">
  <div class="side-card">
    <div class="profile">
      <div class="profile-img">
        <img src="" alt="" />
      </div>
      <div class="profile-name">
        <h5><%= currentUser.last %></h5>
        <h5><%= currentUser.first %></h5>
        <h5><%= %></h5>
      </div>

      <% if (currentUser.position) { %>
      <h5><%= currentUser.position %></h5>

      <% } else { %>
      <div class="profile-details">
        <a href="#">+ Add position</a>
      </div>
      <% } %>
    </div>

    <div class="misc">
      <div class="profile-details">
        <h4>TY coins</h4>
        <span>192</span>
      </div>

      <div class="profile-details">
        <h4>Total requests</h4>
        <span>total</span>
      </div>
      <div class="profile-details">
        <h4>Pending</h4>
        <span>total</span>
      </div>
      <div class="profile-details">
        <h4>Completed</h4>
        <span>total</span>
      </div>
      <div class="profile-details">
        <h4>Denied</h4>
        <span>total</span>
      </div>
    </div>
  </div>

  <div class="content-card">
    <div class="content-header" id="content-header">
      <!-- <a class="abtn" href="/requests/?id=<%= currentUser._id  %> "
        >My Requests</a
      > -->

      <a
        class="atoggle <%= (status === 'all') ? 'active' : ''%>"
        id="all"
        href="/profile/requests/all"
        >My requests</a
      >
      <a
        class="atoggle <%= (status === 'awaiting-approval') ? 'active' : ''%>"
        id="my_request"
        href="/profile/requests/awaiting-approval"
        >Awaiting approval</a
      >
      <a
        class="atoggle <%= (status === 'pending') ? 'active' : ''%>"
        id="pending"
        href="/profile/requests/pending"
        >Pending</a
      >
      <a
        class="atoggle <%= (status === 'posted') ? 'active' : ''%>"
        id="posted"
        href="/profile/requests/posted"
        >Posted</a
      >
      <a
        class="atoggle <%= (status === 'denied') ? 'active' : ''%>"
        id="denied"
        href="/profile/requests/denied"
        >Denied</a
      >
      <a
        class="atoggle <%= (status === 'in-progress') ? 'active' : ''%>"
        id="inprogress"
        href="/profile/requests/in-progress"
        >In progress</a
      >
      <a
        class="atoggle <%= (status === 'completed') ? 'active' : ''%>"
        id="completed"
        href="/profile/requests/completed"
        >Completed</a
      >
    </div>

    <div class="content-main" id="content_main">
      <table class="fl-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Office</th>
            <th>Category</th>
            <th>Nature of Request</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% if (requests.length ) { %> <% for( let req of requests ) { %> <%
          for (let r of requests) {%>
          <tr>
            <td><%= r.createdAt.toISOString().split('T')[0] %></td>
            <td><%= r.createdAt.toLocaleTimeString()%></td>
            <td><%= r.office %></td>
            <td><%= r.category %></td>
            <td><%= r.nature %></td>
            <% if (r.status) { %>
            <td><%= r.status %></td>
            <% } %>

            <td>
              <div>
                <button class="btn">details</button>
              </div>
            </td>

            <% } %> <% } %> <% } %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="/js/profile.js"></script>
